<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/ZM-soft/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="huycanh14" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
    <!-- <files> -->
    <!--     <file src="../eUni-Core-NetCore.Shared/bin/Release/net6.0/*.dll" /> -->
    <!--     <file src="../eUni-Core-NetCore.Shared/bin/Release/net6.0/*.pdb" /> -->
    <!--     <file src="../eUni-Core-NetCore.Logging/bin/Release/net6.0/*.dll" /> -->
    <!--     <file src="../eUni-Core-NetCore.Logging/bin/Release/net6.0/*.pdb" /> -->
    <!-- ~1~     <file src="../eUni-Core-NetCore.Shared/bin/Release/net6.0/eUni-Core-NetCore.Shared.pdb" target="lib\net6.0" /> @1@ -->
    <!-- ~1~     <file src="../eUni-Core-NetCore.Logging/bin/Release/net6.0/eUni-Core-NetCore.Logging.dll" target="lib\net6.0" /> @1@ -->
    <!-- ~1~     <file src="../eUni-Core-NetCore.Logging/bin/Release/net6.0/eUni-Core-NetCore.Logging.pdb" target="lib\net6.0" /> @1@ -->
    <!-- </files> -->
</configuration>